.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white;
  line-height: 2rem;
  padding: 20px;
  text-align: center;
}

h2,
h3 {
  color: rgb(0, 255, 0);
  margin: 5px;
}

ul {
  font-size: large;
}
