.skillMain {
    width: 100%;
    padding: 6rem 1rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.skillrows {
display: flex;

}

.imgLogo {
    width: 100px;
    height: 100px;
   margin: 10px 40px 10px 40px;
    padding: 10px;
}

.imgLogo:hover {
width: 125px;
height: 125px;
}

@media screen and (max-width: 800px )  {
    .imgLogo {
        margin: 10px;
    }
}