.skillMain {
    width: 100%;
    padding: 6rem 1rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.row1 {
display: flex;
}

.row2{
    display: flex; 
}

.row3 {
    display: flex;
}

.imgLogo {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
}

.imgLogo:hover {
width: 125px;
height: 125px;
}